:root {
  font-family: system-ui, sans-serif;
  color: #213547;
  background: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 24px;
}

.page__logo {
  display: block;
  width: 174px;
  height: auto;
}

.page p {
  margin: 0;
}
