.page-header {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__navigation {
    margin-bottom: 40px;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__title {
    margin: 0;
    color: #213f7d;
    font-family: 'Work Sans', system-ui, sans-serif;
    font-size: 24px;
    font-weight: 500;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
